

.header {
  padding: 4vh 3vw;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: absolute;
  left: 0;
}

.logo-container {
  padding-right: 2vw;
  margin-right: 2vw;
  border-right: 2px solid rgba(0,0,0,0.1);
}

.logo {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 100px;
}

.xceed-logo {
  width: 150px;
  aspect-ratio: 2;
  object-fit: contain;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
}

.scroll-container {
  display: flex;
  justify-content: center;
  padding: 5vh 5vw;
}

.titles {
    text-align: center;
}

.title {
  font-weight: bold;
  font-size: 1.6em;
}
.subtitle {
  font-size: 1em;
}

.title-button {
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  font-size: 0.7em;
  background-color: #6D9FF5;
  border-radius: 100px;
  margin-top: 20px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.title-button:hover {
  background-color: #8aaff0;

}



@media (max-width: 1000px) {

  .container {
    background: rgb(12,104,169);
    background: linear-gradient(180deg, rgba(12,104,169,1) 0%, rgba(87,159,183,1) 100%);
    overflow-x: hidden;
  }

  .header {
    position: relative;
    flex-direction: column;
  }   
  .logo-container {
    padding: 0;
    border: none;
    margin: none;
  }

  .inner-container {
    padding-top: 1vh;
  }

  .logo {
    width: 40px;
  }
  .xceed-logo {
    width: 90px;
    filter: brightness(0) invert(1);
  }

  .title {
    font-size: 1em;
    color: white;
  }

  .subtitle {
    font-size: 0.7em;
    color: white;
  }

  .scroll-container {
    width: 100%;
    overflow-x: scroll;
    padding: 5vh 20vw;
    justify-content: inherit;
  }
  
}